.container,
.balloon,
.balloon:after,
.balloon:before,
.basket,
.basket:before,
.string,
.sun,
.cloud,
.cloud::after,
.cloud::before {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.container {
  height: 600px;
  width: 800px;
  background-color: #D4f1ff;
}
.balloon {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  top: -150px;
  background-color: #f564bb;
  border: 10px solid #996011;
  animation: float 2s ease-in-out infinite;
}
.balloon::before {
  content: '';
  height: 300px;
  width: 190px;
  border: 10px solid #996011;
  background-color: #ac5fd9;
  border-radius: 50%;
}
.balloon::after {
  content: '';
  height: 300px;
  width: 60px;
  background-color: #fad816 ;
  border: 10px solid #996011;
  border-radius: 50%;
}

.basket {
  height: 55px;
  width: 65px;
  background-color: #996011;
  border-radius: 4px;
  top: 310px;
  animation: float 2s ease-in-out infinite;
}
.basket::before {
  content: '';
  background-color: #996011;
  height: 10px;
  width: 75px;
  top: -60px;
  left: -5px;
  border-radius: 4px;
}

.string {
  height: 50px;
  width: 10px;
  background-color: #996011;
  top: 200px;
  left: 60px;
  animation: float-strings 2s ease-in-out infinite;
}

.string.right {
  transform: rotate(20deg);
}

.string.left {
  transform: rotate(-20deg);
  left: -60px;
}
.number-circle {
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    background-color: #f2c627; 
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px; 
    transition: visibility 0.3s ease; 

}
.number-circle:hover {
    visibility: hidden; 
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-15px) rotate(-2deg);
  }
}

@keyframes float-strings {
  0%,
  100% {
    top: 200px;
  }
  50% {
    top: 175px;
  }

}